
.footer {
	width: 100%;
	background-image: url(../img/footer-bg.svg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	overflow: hidden;
}
.footer__wraper {
	max-width: 1100px;
	margin: 220px auto 200px;
	padding: 0 20px;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
}

@media (max-width: 1024px){
	.footer {
		padding: 0 32px;
		box-sizing: border-box;
		background-color: linear-gradient(to top, #292F42 65%, transparent 0%);
		background-position: top left;
	}
	.footer__wraper  {
		margin: 25px auto;
		padding-top: 20%;
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 620px){
	.footer {
		background-position: top left ;
		background-size: cover;
		padding: 0 16px;
	}
	.footer__wraper {
		max-height: none;
		margin-top: 130px;
	}
}
@media (max-width: 540px){
	.footer {
		.footer__wraper {
			padding-left: 4px;
			padding-right: 4px;
		}
	}	
}


.footer-left {
	width: 40%;
	max-height: 270px;
	color: $text-light;
	padding-top: 15%;
}
@media (max-width: 1024px){
	.footer-left {
		width: 100%;
		max-height: none;
		// padding-top: 45%;
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
	}	
}
@media (max-width: 620px){
	.footer-left {
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-between;
		max-height: none;
	}	
}

.footer-button {
	h3 {
		font-family: Lora;
		font-weight: bold;
		line-height: 24px;
		font-size: 24px;
		margin-bottom: 26px;
	}
	&_form {
		position: relative;
		width: 380px;
		input {
			background: #FDFDFD;
			border: 1px solid rgba(41, 47, 66, 0.1);
			box-sizing: border-box;
			width: 380px;  

			padding: 16px 40px;
			margin-bottom: 30px;
			border-radius: 5px;
			outline: none;
			line-height: 24px;
			font-size: 14px;
			color: $text-gray;
		}
		button {
			position: absolute; 
			top: 0;
			right: 0px;
			width: 58px;
			height: 58px;
			border: none;
			background: linear-gradient(270deg, #86BE26 1.79%, #86BE26 100%);
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
			border-radius: 5px;
			cursor: pointer;
			&::before {
				content: url(../img/Arrow-Right-light.svg);
				color: $text-light;
			}
		}
	}
}
@media (max-width: 768px){
	.footer-button {
		&_form {
			width: 260px;
			input {
				box-sizing: border-box;
				width: 260px;
				padding: 16px 10px;
				margin-bottom: 30px;
			}
		}
	}
}
@media (max-width: 620px){
	.footer-button {
		margin-top: 30px;
		&_form {
			width: 100%;
			input {
				box-sizing: border-box;
				width: 100%;
				padding: 16px 10px;
				margin-bottom: 30px;
			}
		}
	}
}

.footer-logo {
	&__img {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	img {
		height: 40px;
	}
	h4 {
		display: inline-block;
		line-height: 24px;
		font-size: 14px;

		color: #FDFDFD;
		margin-left: 18px;
	}
	p {
		margin-top: 24px;
		max-width: 385px;
	}
}
@media (max-width: 1024px){
	.footer-logo {
		p {
			margin: 24px 20px 0 0;
		}
	}
}
@media (max-width: 620px){
	.footer-logo {
		&__img {
			justify-content: center;
		}
		p {
			width: 100%;
			text-align: center;
			margin: 16px auto 24px;
		}
	}	
}


.footer-items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 60%;
	padding-top: 20%;
	max-height: 270px;
	&__item {
		position: relative;
		color: #FFFFFF;
		h4 {
			font-family: Lora;
			font-weight: bold;
			line-height: 24px;
			font-size: 20px;
			margin-bottom: 23px;
		}
		ul {
			list-style-type: none;
			padding: 0;
			li {
				margin-bottom: 8px;
				a {
					line-height: 24px;
					text-decoration: none;
					color: $text-light;
				}
				&:hover {
					a{color: $accent;}		
				}
				&:visited {
					a{color: $text-light;}
				}
			}
		}
	}
	&__buttons {
		display: none;
		img {
			height: 20px;
			width: 20px;
		}	

	}
}
@media (max-width: 1024px){
	.footer-items {
		width: 100%;
		padding: 44px 0 0;
		padding-bottom: 0;
		justify-content: flex-start;
		&__item {
			min-width: 220px;
		}
	}	
}
@media (max-width: 620px){
	.footer-items {
		max-height: none;
		&__item {
			min-width: 180px;
		    margin-bottom: 24px;
		}
	}
}
@media (max-width: 540px){
	.footer-items {
		flex-direction: column;
		&__item {
			width: 100%;
			height: auto;
		}
		&__buttons {
			display: block;
			img {
				position: absolute;
				top: 4px;
				right: 0;
			}
			&_plus {
				display: block;
			}
			&_minus{
				display: block;
			}
		}
		&__item_hidden {
			overflow: hidden;
			height: 24px;
		}
		.footer-hidde-btn {
			display: none;
		}
	}
}
hr {
	width: 100%;
	margin: 0;
	border: 1px solid #202535;
}
.copyright {
	width: 100%;
	align-self: flex-end;
	text-align: center;
	color: #fff;
	padding: 25px;
	background-color: #292F42; 
	a {
		color: $accent;
		text-transform: uppercase;
		text-decoration: none;
	}
}
@media (max-width: 540px){
	.copyright {
		padding: 25px 0;
	}
}